apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deploy
  namespace: backend-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
       containers:
        - name: api
          image: hashicorp/http-echo
          args:
          - "-text=Hello from Backend Api"
          ports:
          - containerPort: 5678

